<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--internet permissions and network state permission-->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GesPro"
        tools:targetApi="31">
        <activity
            android:name=".ui.ShowDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FilesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.modules.user.UserActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.user.FormUserActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.user.UserActivity" />
        <activity
            android:name=".ui.modules.method_payment.FormMethodPaymentActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.method_payment.MethodPaymentActivity" />
        <activity
            android:name=".ui.modules.method_payment.MethodPaymentActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.condition_payment.FormConditionPaymentActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.condition_payment.ConditionPaymentActivity" />
        <activity
            android:name=".ui.modules.condition_payment.ConditionPaymentActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.state.FormStateRequestActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.state.StateRequestActivity" />
        <activity
            android:name=".ui.modules.question.FormQuestionActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.question.QuestionActivity" />
        <activity
            android:name=".ui.modules.question.QuestionActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.role.FormRoleActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.role.RoleActivity" />
        <activity
            android:name=".ui.modules.role.RoleActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.request.ShowRequestActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.request.SupplierRequestsActivity" />
        <activity
            android:name=".ui.modules.supplier.FormSupplierActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.supplier.SuppliersActivity" />
        <activity
            android:name=".ui.modules.supplier.ShowSupplierActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.supplier.SuppliersActivity" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.SuccesfulRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.modules.state.StateRequestActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.request.SupplierRequestsActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.modules.request.FormRequestSupplierActivity"
            android:exported="false"
            android:parentActivityName=".ui.modules.request.SupplierRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.modules.supplier.SuppliersActivity"
            android:exported="false"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- TODO: Step 3.0 uncomment to start the service -->
        <service
            android:name=".io.fcm.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>